<div class="content-container">
  <div class="about">
    <div class="row">
      <div class="about-me">
        <h2>About Me</h2>
        <div class="bar"></div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga pariatur
          rem et illum a at vero voluptatem tempore fugit repellendus, saepe
          consectetur maxime magnam, error, dignissimos sit nesciunt reiciendis
          commodi.
        </p>
      </div>
      <hr />
      <div class="profession">
        <div class="column">
          <div class="row">
            <div class="p-image">
              <img src="../../assets/img/pro-image.png" alt="web-developer" />
            </div>

            <div class="p-about">
              <h3>FullStack Web Depeloper</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Exercitationem qui voluptatibus tempora rerum ex commodi neque
                nobis cupiditate? Sapiente exercitationem eius eum ducimus
                repellat necessitatibus mollitia quibusdam ad nemo culpa.
              </p>
              <button type="button" class="btn btn-info">More</button>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="p-about">
              <h3>Photography</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Exercitationem qui voluptatibus tempora rerum ex commodi neque
                nobis cupiditate? Sapiente exercitationem eius eum ducimus
                repellat necessitatibus mollitia quibusdam ad nemo culpa.
              </p>
              <button type="button" class="btn btn-info">More</button>
            </div>
            <div class="p-image">
              <img src="../../assets/img/pro-image1.jpeg" alt="photographer" />
            </div>
          </div>
          <hr />
        </div>
      </div>
    </div>
  </div>
</div>
