<div class="about">
  <div class="row">
    <div class="about-me">
      <h2>About Me</h2>
      <div class="bar"></div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga pariatur
        rem et illum a at vero voluptatem tempore fugit repellendus, saepe
        consectetur maxime magnam, error, dignissimos sit nesciunt reiciendis
        commodi.
      </p>
    </div>
    <div class="Profession">
      <div class="column">
        <div class="p-image">image</div>
        <div class="p-about">about</div>
      </div>
    </div>
  </div>
</div>
