.content-container {
  /* height: auto; */
}
.about {
  margin: 10%;
  padding: 0%;
  bottom: 0;
}
.about-me {
  text-align: center;
  color: white;
  margin: 0;
  padding: 0;
}

.bar {
  height: 3px;
  width: 20%;
  margin: 2% 40%;
  background-color: brown;
  /* left: 0; */
  /* right: 0; */
  /* align-items: center; */
}
.about-me p {
  margin-bottom: 50px;
}
.profession {
  height: 300px;
  width: 100%;
  /* background-color: blue; */
  display: flex;
  flex-direction: row;
  /* z-index: -1; */
}

.p-image {
  /* background: rgb(223, 91, 91); */
  height: auto;
  width: 46%;
  padding: 0px;
  margin: 1%;
  /* position: relative */
}
.p-about {
  /* background-color: aquamarine; */
  height: 80%;
  width: 46%;
  margin: 2%;
  padding: 0px;
  /* text-align: center; */
}

.p-image img {
  padding: 0%;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.p-about h3 {
  margin-bottom: 30px;
}

.p-about button:hover {
  background-color: azure;
  color: #0dcaf0;
}
