<div class="sidebar-container">
  <div class="column">
    <img class="photo" src="../../assets/img/profile.jpeg" alt="" />
    <h2>Rohit Singh</h2>
    <h5>Fullstack Developer</h5>
    <div class="column menu">
      <ul>
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">What am I good at</a>
        </li>
        <li>
          <a href="#">My Work</a>
        </li>
        <li>
          <a href="#">Contact Me</a>
        </li>
      </ul>
    </div>
    <div class="social-profile">
      <div class="row">
        <ul>
          <li>
            <a href="#"
              ><img src="../../assets/img/linkedin.png" alt="LinkedIn"
            /></a>
          </li>
          <li>
            <a href="#"
              ><img src="../../assets/img/github.png" alt="Github"
            /></a>
          </li>
          <li>
            <a href="#"
              ><img src="../../assets/img/twitter.png" alt="Twitter"
            /></a>
          </li>
          <li>
            <a href="#"
              ><img src="../../assets/img/facebook.png" alt="Facebook"
            /></a>
          </li>
          <li>
            <a href="#"
              ><img src="../../assets/img/instagram.png" alt="Instagram"
            /></a>
          </li>
        </ul>
      </div>
      <hr />
      <p>Copyright 2022 Rohit Singh</p>
    </div>
  </div>
</div>
